.u-section-1 .u-sheet-1 {
  min-height: 609px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 40px rgba(26,26,26,0.5);
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 603px;
}

.u-section-2 .u-text-1 {
  font-family: Alata;
  font-weight: 300;
  margin: 29px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 431px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/Lil-Nas-X-_MONTERO-Call-Me-By-Your-Name_-single-art-11.png");
  background-position: 8.39% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 4px 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 299px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/71laVfWEkCS._AC_SL1400_.jpg");
  background-position: 18.79% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 4px 0 30px;
}

.u-section-2 .u-text-4 {
  margin: 299px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/cover_46771112016_r.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 4px 0 30px;
}

.u-section-2 .u-text-6 {
  margin: 299px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }
} .u-section-3 {
  background-image: url("../images/Samsung_Galaxy_Waves_Purple_Gradient_1366x768.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 668px;
}

.u-section-3 .u-text-1 {
  font-family: Alata;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-3 .u-slider-1 {
  width: 660px;
  min-height: 459px;
  height: auto;
  margin: 20px auto 58px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/Billie.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-2 {
  margin: 360px -422px 0 811px;
}

.u-section-3 .u-text-3 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  width: 271px;
  margin: -39px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/lil-nas-x-montero-1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-text-4 {
  width: 271px;
  margin: 360px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../images/2ba7762a4dbc1e64a3ff5d66985d1b32.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-text-5 {
  width: 279px;
  margin: 360px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 119px;
  height: 119px;
  left: -57px;
  position: absolute;
  top: 183px;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 119px;
  height: 119px;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 711px;
  }

  .u-section-3 .u-carousel-control-1 {
    padding: 12px;
  }

  .u-section-3 .u-carousel-control-2 {
    padding: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 601px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(#2b1643, #1f182e);
  min-height: 599px;
}

.u-section-4 .u-image-1 {
  width: 957px;
  height: 552px;
  filter: brightness(0.75);
  margin: 47px 0 0 auto;
}

.u-section-4 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(31,24,46,1);
  margin: -552px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  text-shadow: 0px 0px 8px rgba(215,209,232,0);
  margin: 16px calc(((100% - 1140px) / 2) + 725px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 589px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 542px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -542px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 525px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 462px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 415px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -415px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 305px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 358px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 311px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-1 {
    margin-top: -319px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 425px);
    margin-bottom: 22px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 243px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 196px;
    margin-top: 144px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-1 {
    margin-top: -326px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}