 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/d5y3udp-320fe6a2-25cb-49c2-872d-d4cfc03a2d3c.png");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 475px auto -141px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }
} .u-section-2 {
  background-image: url("../images/Samsung_Galaxy_Waves_Purple_Gradient_1366x768.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-text-1 {
  font-family: Alata;
  margin: 34px auto 0 116px;
}

.u-section-2 .u-text-2 {
  font-family: Alata;
  margin: -52px auto 0 667px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 42px auto 0 678px;
}

.u-section-2 .u-slider-1 {
  width: 440px;
  min-height: 343px;
  height: auto;
  margin: -252px auto 36px 116px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/cover_46771112016_r.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-family: Alata;
  margin: 274px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  background-image: url("../images/fee7c74aceaea6057eb4a04d2b85be09.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-5 {
  font-family: Alata;
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/Metallica-Kill-Em-All.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-family: Alata;
  margin: 274px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 99px;
  height: 99px;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 99px;
  height: 99px;
  left: auto;
  position: absolute;
  right: -56px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 75px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 509px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 518px;
  }

  .u-section-2 .u-slider-1 {
    margin-left: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 57px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 362px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 369px;
  }

  .u-section-2 .u-slider-1 {
    width: 606px;
    min-height: 440px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 272px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 277px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 171px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 174px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1069px;
}

.u-section-3 .u-text-1 {
  margin: 58px 546px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: -698px 30px 0 695px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 346px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 60px;
    margin-left: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}