 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../images/26W4GNLIOUDN7YIZFIBA5F44YU.jpg");
  background-position: 50% 25.77%;
}

.u-section-1 .u-sheet-1 {
  min-height: 612px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 473px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }
} .u-section-2 {
  background-image: url("../images/Samsung_Galaxy_Waves_Purple_Gradient_1366x768.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-text-1 {
  font-family: Alata;
  margin: 34px auto 0 116px;
}

.u-section-2 .u-text-2 {
  font-family: Alata;
  margin: -52px auto 0 667px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 42px auto 0 678px;
}

.u-section-2 .u-slider-1 {
  width: 440px;
  min-height: 343px;
  height: auto;
  margin: -252px auto 36px 116px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/Lil-Nas-X-_MONTERO-Call-Me-By-Your-Name_-single-art-11.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/cc1c6a19a5c9e6098b1c7f5b832f1ffd.1000x1000x1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 99px;
  height: 99px;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 99px;
  height: 99px;
  left: auto;
  position: absolute;
  right: -57px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 75px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 509px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 518px;
  }

  .u-section-2 .u-slider-1 {
    margin-left: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 57px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 362px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 369px;
  }

  .u-section-2 .u-slider-1 {
    width: 606px;
    min-height: 440px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 272px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 277px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 171px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 174px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-3 .u-text-1 {
  margin: 58px 546px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: -834px 23px 60px 702px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 346px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}